.myDiv{
    background-color:black;

}

#unique{
    background-color: rgb(62, 62, 214);
    font-family: 'Varela Round', sans-serif;
    font-weight:lighter;
}

#class1{
    font-size: 38px;
    font-family: 'Zen Kurenaido'; 
    font-style: italic;
};

